<div class="mt-10 text-xl w-full flex flex-row justify-center items-center">
  {{#link-to 'index' class="mr-12"}}
    index
  {{/link-to}}

  {{#link-to 'about'}}
    about
  {{/link-to}}
</div>

{{outlet}}
